{% include "header.html" %}

</br>
</br>
</br>
</br>

<section class="timeline text-center">
    <div class="row">
            <div class="col-5">
                Historical
            </div>
            <div class="year col-1">
                Years
            </div>
            <div class="col col-5">
                Biblical
            </div>

    </div>
    {% for i in years %}

    <div>
        {{i.year}}
    </div>

    {% endfor %}

<!--    <div class="row">-->
<!--        <div class="col-5 sec sec-start hist-pad">-->
<!--            Some historical period-->
<!--            <div class="sec sec-start">-->
<!--                    other historical thing-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="year col-1">-->
<!--            2017-->
<!--        </div>-->
<!--        <div class="col col-5 sec sec-start bible-pad">-->
<!--            Some Biblical period-->
<!--        </div>-->

<!--    </div>-->

<!--    <div class="row">-->
<!--            <div class="col-5 sec hist-pad">-->
<!--                <div class="sec">-->
<!--                        -->
<!--                </div>-->
<!--                -->
<!--            </div>-->
<!--            <div class="year col-1">-->
<!--                2018-->
<!--            </div>-->
<!--            <div class="col-5 sec bible-pad">-->
<!--                    <div class="sec sec-start">-->
<!--                            other historical thing-->
<!--                    </div>-->
<!--                -->
<!--            </div>-->
<!--    -->
<!--    </div>-->
<!--    -->
<!--    -->
<!--    <div class="row">-->
<!--            <div class="col-5 sec hist-pad">-->
<!--                <div class="sec">-->
<!--                        -->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="year col-1">-->
<!--                2019-->
<!--            </div>-->
<!--            <div class="col-5 sec bible-pad">-->
<!--                <div class="sec"></div>-->
<!--            </div>-->
<!--    -->
<!--    </div>-->
<!--        -->
<!--    <div class="row">-->
<!--            <div class="col-5 sec hist-pad">-->
<!--                <div class="sec">-->
<!--                        -->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="year col-1">-->
<!--                2020-->
<!--            </div>-->
<!--            <div class="col-5 sec bible-pad">-->
<!--                <div class="sec"></div>-->
<!--            </div>-->
<!--    -->
<!--    </div>-->

<!--    <div class="row">-->
<!--            <div class="col-5 sec hist-pad">-->
<!--                    <div class="sec">-->
<!--                            -->
<!--                    </div>-->
<!--            </div>-->
<!--            <div class="year col-1">-->
<!--                2021-->
<!--            </div>-->
<!--            <div class="col-5 sec bible-pad">-->
<!--                <div class="sec"></div>-->
<!--            </div>-->
<!--    -->
<!--    </div>-->

<!--    <div class="row">-->
<!--            <div class="col-5 sec sec-stop hist-pad">-->
<!--                <div class="sec sec-stop"></div>-->
<!--            </div>-->
<!--            <div class="year col-1">-->
<!--                2022-->
<!--            </div>-->
<!--            <div class="col-5 sec sec-stop bible-pad">-->
<!--                <div class="sec sec-stop"></div>-->
<!--            </div>-->
<!--    -->
<!--    </div>-->
            
        
</section>

{% include "footer.html" %}