{% include "header.html" %}

<div class="row mt-5">
    <div class="col-lg-7 mx-auto mt-5">
        <h4>Bible Timeline</h4>
        <ul class="timeline">
            {% for y in years %}
            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                <div class="timeline-arrow"></div>
                <h5>{{y.year}}</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Bible Period:      </strong>{{y.period}}
                    </li>

                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include "footer.html" %}