.sec {
    border-style: none solid;
    /* padding-left: 5px; */
    min-height: 35px;
}

.sec-start {
    border-top: solid;
    padding-top: 5px;
}

.sec-stop {
    border-bottom: solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.hist-pad {
    padding-right: 1px;
    padding-left: 5px;
}

.bible-pad {
    padding-left: 1px;
    padding-right: 5px;
}

.bible-fig {
    width: calc(100% / 7);
}