.sec {
    border-style: none solid;
    /* padding-left: 5px; */
    /* min-height: 25px; */
}

.sec-start {
    border-top: solid;
    padding-top: 10px;
}

.sec-stop {
    margin-bottom: 5px;
    border-bottom: solid;
}

.hist-pad {
}

.bible-pad {
    margin-left: 2px;
}

.height-bible {
    height: 100%;
}

.bible-fig {
    width: calc(100% / 7);
}

.figure {
    border-style: none solid;
}

.box {
    border-style: dotted;
    margin-left: 15px;
}