.sec {
    border-style: none solid;
    /* padding-left: 5px; */
    /* min-height: 25px; */
}

.sec-start {
    border-top: solid;
    padding-top: 10px;
}

.sec-stop {
    margin-bottom: 5px;
    border-bottom: solid;
}

.hist-pad {
}

.bible-pad {
    margin-left: 2px;
}

.height-bible {
    height: auto;
    min-height: 30px;
}
}

.bible-fig {
    width: calc(100% / 7);
}

.figure {
    border-style: none solid;
}

.box {
    border-style: dotted;
    margin-left: 15px;
}

.bible-row {
    display: flex;
}

.slanted-box{
    padding-right:0;
    padding-left:0;
}

.clip-death {
    clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0 100%);
}

.clip-trans {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
}

.hello1 {
    background: aquamarine;
    position: absolute;
    width: inherit;
    height: 35px;
    z-index: 2;
}

.hello2 {
    background: blue;
    width: inherit;
    height: 35px;
    position: absolute;
    z-index: 1;
}