
.clear_bottom {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.show_pre {
    border: 1px solid #ced4da;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top: none;

}


.form-control:focus {
   box-shadow:none;
   border: 1px solid #ced4da;
}
